

ul{
  margin-bottom: 50px;

  .li-task{
    width: 600px;
    padding:7px 7px 7px 20px;
    margin: 10px 0 0 50px;
    border: 1px solid #74C6D2; 
    background-color: #ECF7F9;
    border-radius: 6px;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.2),
        inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: #32403B;
    font-size: 12px;
    display: inline-block;
    text-align: start;
    align-items: center;
    justify-content: space-around;
  }
  
  .btn-deleted{
      font-size: 12px;
      box-shadow: none;
      cursor: pointer;
      appearance: none;
      color: red;
      background-color: none;
      outline: none; 
      border: 0;
      background: transparent;
      align-items: flex-end;
    }
}



  