* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  background: #fff;
  background-size: 100%;
  background-image: url(/src/img/back_white.jpg);
  background-attachment: scroll;
  background-position: center;
}


.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

